
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Freshlo | AutomateBuddy Technologies</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/app/media/img/fav/favicon.ico" />
    <!-- /favicon -->
    <!--begin::Web font -->
    <link href="~/assets/fonts/poppins.css" rel="stylesheet" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>*@
    <!--end::Web font -->
    <!--begin::Global Theme Styles -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/demo/demo6/base/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <link href="~/assets/main/main.css" rel="stylesheet" />
    <!--end::Page Vendors Styles -->

    <script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
</head>
<body>

    @*<button type="button" id="downloadPDF" class="btn btn-primary">Download</button>*@

    <div class="mt-5" >
        <div class="container" id="pdf_Content">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4>Total Count : 229</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="financial_tblId" class="table table-striped-even ab-table-head-bg-warning-light table-borderless table-middle m-data-table">
                            <thead>
                                <tr>
                                    <th>Entry ID</th>
                                    <th>Entry Type</th>
                                    <th>Payment Person</th>
                                    <th>Total Amount</th>
                                    <th>Partial Amount</th>
                                    <th>Payment</th>
                                    <th>Payment Date</th>
                                    <th>Comments</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>F1</td>
                                    <td>Inward</td>
                                    <td>Swiggy</td>
                                    <td>Rs. 17874</td>
                                    <td>Rs. 0</td>
                                    <td>Paid Fully</td>
                                    <td>28 April 2020</td>
                                    <td>First installment</td>
                                    <td>30-05-2020 05:23</td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="editor"></div>

    <!--begin::Global Theme Bundle -->
    <script src="~/assets/demo/demo6/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors -->
    <!--end::Page Vendors -->
    <!--begin::Page Scripts -->
    <script src="~/assets/app/js/dashboard.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
    <script src="~/assets/scripts/jquery-helpers.js"></script>
    <script src="~/assets/scripts/shared/layout.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script>

        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#downloadPDF').click(function () {
            doc.fromHTML($('#pdf_Content').html(), 15, 15, {
                'width': 500,
                'elementHandlers': specialElementHandlers
            });
            doc.save('sample-file.pdf');
        });



    </script>
</body>
</html>
