
@{
    ViewData["Title"] = "DeliveryOrderManage";
    Layout = "~/Views/Shared/_DeliveryLayout.cshtml";
}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-4">
                <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                    <div class="m-portlet__head m-portlet__head--fit">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-light">
                                    Total Order : 30
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <div class="form-group mb-0">
                                <select class="form-control form-control-sm">
                                    <option selected>Today</option>
                                    <option>Tommorow</option>
                                    <option>24-07-2020</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget28">
                            <div class="m-widget28__pic m-portlet-fit--sides"></div>
                            <div class="m-widget28__container">
                                <!-- begin::Nav pills -->
                                <ul class="m-widget28__nav-items nav nav-pills" role="tablist">
                                    <li class="m-widget28__nav-item nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#menu11">
                                            <span><i class="fa flaticon-pie-chart"></i></span>
                                            <span>Pending Order</span>
                                        </a>
                                    </li>
                                    <li class="m-widget28__nav-item nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#menu21">
                                            <span><i class="fa flaticon-file-1"></i></span>
                                            <span>Orders Deliverd</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- end::Nav pills -->
                                <!-- begin::Tab Content -->
                                <div class="m-widget28__tab tab-content">
                                    <div id="menu11" class="m-widget28__tab-container tab-pane active">
                                        <div class="m-widget28__tab-items">
                                            <div class="row" style="background-color: gainsboro; padding: 10px; ">
                                                <div class="col-md-12">
                                                    <h6 class="mb-0 text-bold-600">07:00 AM To 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <a href="/Sale/DeliveryOrderDetail/">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                            <h6 class="mb-1 font-medium-2">
                                                                <span class="text-bold-600">
                                                                    Abdul Salman
                                                                </span>
                                                            </h6>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="float-right">
                                                                <h6 class="mb-1">
                                                                    Total :
                                                                    <span class="font-medium-2 text-bold-600 text-success">
                                                                        <small class="text-bold-600">Rs.</small> 180.00
                                                                    </span>
                                                                </h6>
                                                                <h6>
                                                                    Items Orderd
                                                                    <span>1</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6>
                                                                <span>
                                                                    309, Hilton Center, Palm Beach Rd, Sector 11, CBD Belapur, Navi Mumbai, Maharashtra 400604
                                                                </span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <a href="/Sale/DeliveryOrderDetail/">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                            <h6 class="mb-1 font-medium-2">
                                                                <span class="text-bold-600">
                                                                    Radhakrishnan Kaithassery
                                                                </span>
                                                            </h6>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="float-right">
                                                                <h6 class="mb-1">
                                                                    Total :
                                                                    <span class="font-medium-2 text-bold-600 text-success">
                                                                        <small class="text-bold-600">Rs.</small> 217.00
                                                                    </span>
                                                                </h6>
                                                                <h6>
                                                                    Items Orderd
                                                                    <span>1</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6 class="mb-1">
                                                                <span>
                                                                    A 306, Safal residency , NA, Sector 25, Nerul East, Navi Mumbai , 400706
                                                                </span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <a href="/Sale/DeliveryOrderDetail/">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                            <h6 class="mb-1 font-medium-2">
                                                                <span class="text-bold-600">
                                                                    ANIMESH CHANDRA SARKAR
                                                                </span>
                                                            </h6>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="float-right">
                                                                <h6 class="mb-1">
                                                                    Total :
                                                                    <span class="font-medium-2 text-bold-600 text-success">
                                                                        <small class="text-bold-600">Rs.</small> 298.00
                                                                    </span>
                                                                </h6>
                                                                <h6>
                                                                    Items Orderd
                                                                    <span>02</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6 class="mb-1">
                                                                <span>
                                                                    1902 C WING, BHUMIRAJ HERMITAGE , NA, 19TH FLOOR, PLOT 1 AND 2 ,SECTOR 18, 400705
                                                                </span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <a href="/Sale/DeliveryOrderDetail/">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                            <h6 class="mb-1 font-medium-2">
                                                                <span class="text-bold-600">
                                                                    Kadali Laxmi
                                                                </span>
                                                            </h6>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="float-right">
                                                                <h6 class="mb-1">
                                                                    Total :
                                                                    <span class="font-medium-2 text-bold-600 text-success">
                                                                        <small class="text-bold-600">Rs.</small> 2081.00
                                                                    </span>
                                                                </h6>
                                                                <h6>
                                                                    Items Orderd
                                                                    <span>10</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6>
                                                                <span>
                                                                    A303, Mahavir Vihar, NA, Navkunj CHS, Sector 25,Nerul East, 400706
                                                                </span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="m-widget28__tab-items">
                                            <div class="row" style="background-color: gainsboro; padding: 10px; ">
                                                <div class="col-md-12">
                                                    <h6 class="mb-0 text-bold-600">01:00 PM To 03:00 PM</h6>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                        <h6 class="mb-1 font-medium-2">
                                                            <span class="text-bold-600">
                                                                Abdul Salman
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="float-right">
                                                            <h6 class="mb-1">
                                                                Total :
                                                                <span class="font-medium-2 text-bold-600 text-success">
                                                                    <small class="text-bold-600">Rs.</small> 180.00
                                                                </span>
                                                            </h6>
                                                            <h6>
                                                                Items Orderd
                                                                <span>1</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <h6>
                                                            <span>
                                                                309, Hilton Center, Palm Beach Rd, Sector 11, CBD Belapur, Navi Mumbai, Maharashtra 400604
                                                            </span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                        <h6 class="mb-1 font-medium-2">
                                                            <span class="text-bold-600">
                                                                Radhakrishnan Kaithassery
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="float-right">
                                                            <h6 class="mb-1">
                                                                Total :
                                                                <span class="font-medium-2 text-bold-600 text-success">
                                                                    <small class="text-bold-600">Rs.</small> 217.00
                                                                </span>
                                                            </h6>
                                                            <h6>
                                                                Items Orderd
                                                                <span>1</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <h6 class="mb-1">
                                                            <span>
                                                                A 306, Safal residency , NA, Sector 25, Nerul East, Navi Mumbai , 400706
                                                            </span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                        <h6 class="mb-1 font-medium-2">
                                                            <span class="text-bold-600">
                                                                ANIMESH CHANDRA SARKAR
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="float-right">
                                                            <h6 class="mb-1">
                                                                Total :
                                                                <span class="font-medium-2 text-bold-600 text-success">
                                                                    <small class="text-bold-600">Rs.</small> 298.00
                                                                </span>
                                                            </h6>
                                                            <h6>
                                                                Items Orderd
                                                                <span>02</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <h6 class="mb-1">
                                                            <span>
                                                                1902 C WING, BHUMIRAJ HERMITAGE , NA, 19TH FLOOR, PLOT 1 AND 2 ,SECTOR 18, 400705
                                                            </span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                        <h6 class="mb-1 font-medium-2">
                                                            <span class="text-bold-600">
                                                                Kadali Laxmi
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="float-right">
                                                            <h6 class="mb-1">
                                                                Total :
                                                                <span class="font-medium-2 text-bold-600 text-success">
                                                                    <small class="text-bold-600">Rs.</small> 2081.00
                                                                </span>
                                                            </h6>
                                                            <h6>
                                                                Items Orderd
                                                                <span>10</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <h6>
                                                            <span>
                                                                A303, Mahavir Vihar, NA, Navkunj CHS, Sector 25,Nerul East, 400706
                                                            </span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu21" class="m-widget28__tab-container tab-pane fade">
                                        <div class="m-widget28__tab-items">
                                            <div class="row" style="background-color: gainsboro; padding: 10px; ">
                                                <div class="col-md-12">
                                                    <h6 class="mb-0 text-bold-600">07:00 AM To 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                        <h6 class="mb-1 font-medium-2">
                                                            <span class="text-bold-600">
                                                                Abdul Salman
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="float-right">
                                                            <h6 class="mb-1">
                                                                Total :
                                                                <span class="font-medium-2 text-bold-600 text-success">
                                                                    <small class="text-bold-600">Rs.</small> 180.00
                                                                </span>
                                                            </h6>
                                                            <h6>
                                                                Items Orderd
                                                                <span>1</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                        <h6 class="mb-1 font-medium-2">
                                                            <span class="text-bold-600">
                                                                Abdul Salman
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="float-right">
                                                            <h6 class="mb-1">
                                                                Total :
                                                                <span class="font-medium-2 text-bold-600 text-success">
                                                                    <small class="text-bold-600">Rs.</small> 180.00
                                                                </span>
                                                            </h6>
                                                            <h6>
                                                                Items Orderd
                                                                <span>1</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-widget28__tab-items">
                                            <div class="row" style="background-color: gainsboro; padding: 10px; ">
                                                <div class="col-md-12">
                                                    <h6 class="mb-0 text-bold-600">01:00 PM To 03:00 PM</h6>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                        <h6 class="mb-1 font-medium-2">
                                                            <span class="text-bold-600">
                                                                Abdul Salman
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="float-right">
                                                            <h6 class="mb-1">
                                                                Total :
                                                                <span class="font-medium-2 text-bold-600 text-success">
                                                                    <small class="text-bold-600">Rs.</small> 180.00
                                                                </span>
                                                            </h6>
                                                            <h6>
                                                                Items Orderd
                                                                <span>1</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="mb-1 font-small-3">Order ID : SO016731</label>
                                                        <h6 class="mb-1 font-medium-2">
                                                            <span class="text-bold-600">
                                                                Abdul Salman
                                                            </span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="float-right">
                                                            <h6 class="mb-1">
                                                                Total :
                                                                <span class="font-medium-2 text-bold-600 text-success">
                                                                    <small class="text-bold-600">Rs.</small> 180.00
                                                                </span>
                                                            </h6>
                                                            <h6>
                                                                Items Orderd
                                                                <span>1</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end::Tab Content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

