
@{
    ViewData["Title"] = "Subcategory";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="m-content">

                <div class="m-portlet">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="~/assets/app/media/img/products/Tomato.png" style="height:120px;width:120px;" />
                            </div>
                        </div>
                        <div class="row" style="text-align:left; padding-top:50px;">
                            <div class="col-md-12">
                                <h3 style="font-size:22px;"><b>Main Category Name</b></h3>
                                <p style="font-size:19px;">
                                   
                                        This is the discription about the main category.
                                   
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <h5>Visibility</h5>
                            </div>
                            <div class="col-sm-6" style="text-align:right">
                                
                                <label class="ab-switch">
                                    <input type="checkbox" value="Y" class="seasonSale" name="seasonSales" id="seasonSales" checked="">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="m-content">

                <div class="m-portlet">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="table-responsive">
                                    <table class="table table-striped-even ab-table-head-bg-warning-light table-borderless table-middle m-data-table">
                                        <thead>
                                            <tr>
                                                <th>Category Name</th>
                                                <th>Category Count</th>
                                                <th>Visibility</th>
                                                <th>Sequence</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-2" style="text-align:center;padding:10px;">
                                                            <i class="fa fa-align-justify fa-3x" aria-hidden="true" style="color:gray"></i>
                                                        </div>
                                                        <div class="col-sm-4" style="text-align:center">

                                                            <img src="~/assets/app/media/img/products/Tomato.png" style="height:60px;width:60px;" />
                                                        </div>
                                                        <div class="col-sm-6" style="text-align:left">
                                                            <h5><b>Fresh Fruits & Vegetables</b></h5>
                                                            <p>
                                                                <b>
                                                                    Khet se ghar tak - Buy fresh fruits and vegetables
                                                                </b>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="badge-dark badge-pill">15</span>
                                                </td>
                                                <td>
                                                    <span class="badge-success badge-pill">Yes</span>
                                                </td>
                                                <td>
                                                    <b>1</b>
                                                </td>
                                                <td>

                                                    <a>
                                                        <i class="fa fa-pen-square fa-3x" aria-hidden="true" style="color:cornflowerblue"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>