
@{
    ViewData["Title"] = "Test1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Payment Settlement</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascripts:;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="/Home/Index/" class="m-nav__link">
                        <span class="m-nav__link-text">Home</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascripts:;" class="m-nav__link">
                        <span class="m-nav__link-text">Item Master</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <button type="button" class="btn btn-outline-dark"><i class="fa fa-backward"> </i> Settlement Log</button>
            @*<button type="button" class="btn btn-success"><i class="la la-save"></i> Save Changes</button>*@
        </div>
    </div>
</div>
<!-- END: Subheader -->



<div class="m-content">

    <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped-even ab-table-head-bg-warning-light table-borderless table-middle m-data-table">
                            <thead>
                                <tr>
                                    @*<th></th>*@
                                    <th>Sales Order ID</th>
                                    <th>Delivered By</th>
                                    <th>Delivery Date</th>
                                    <th>Bill Amount</th>
                                    <th>Payment Settled By</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h6 class="mb-1 font-medium-1 text-bold-600">
                                            SO012321
                                        </h6>
                                        @*<span class="display-block font-small-3 text-bold-500 text-muted">John Smith</span>*@
                                    </td>
                                    <td><span class="text-bold-400"> Ganesh Kumar</span></td>
                                    <td>
                                        <span>12/12/2019 11:22</span>
                                    </td>
                                    <td><span class="text-bold-400"> John Smith</span></td>
                                    <td>
                                        <span class="font-medium-2 text-bold-600">Rs. 250.50</span>
                                    </td>
                                    <td>
                                        <select class="form-control m-input--solid">
                                            <option selected disabled>Settlement Status</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Paid">Settled</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text"/>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-danger m-btn--icon btn-sm" ><i class="fa fa-save"></i> Save</a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


