
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Freshlo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link href="~/assets/notification/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/notification/css/Loader.css" rel="stylesheet" />
    <link href="~/assets/main/main.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        @*<div class="row">
            <div class="col-12">
                <div class="text-center">
                    <div class="mt-5">
                        <div class="loader"></div>
                    </div>
                    <h3 class="mt-4 mb-3">Please Wait...</h3>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <div class="mt-5">
                        <img src="~/assets/app/media/img/img-anim/scooter-courier.gif" alt="" class="img-fluid"/>
                    </div>
                    <h3 class="mt-3 mb-3">Please wait...</h3>
                    @*<button type="button" class="btn btn-success btn-sm">Continue Shop</button>*@
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>

